# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/arrayexample/node_modules
**/arraymapexample/node_modules
**/basicexample/node_modules
**/calculatorexample/node_modules
**/componentexample/node_modules
**/componentexample2/node_modules
**/ifelseexample/node_modules
**/importexportexample/node_modules
**/propsexample/node_modules
**/terneryexample/node_modules
/.pnp
.pnp.js

# testing
**/arrayexample/coverage
**/arraymapexample/coverage
**/basicexample/coverage
**/calculatorexample/coverage
**/componentexample/coverage
**/componentexample2/coverage
**/ifelseexample/coverage
**/importexportexample/coverage
**/propsexample/coverage
**/terneryexample/coverage
/coverage

# production
**/arrayexample/build
**/arraymapexample/build
**/basicexample/build
**/calculatorexample/build
**/componentexample/build
**/componentexample2/build
**/ifelseexample/build
**/importexportexample/build
**/propsexample/build
**/terneryexample/build
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
