body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color:blueviolet ;
}
.section{
  background: #b973b7;
  width:auto;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
  border-radius: 22px;
  padding: 10px 0px;
}
.section .headingSection{
  text-align: center;
  color: #ffffff;
}
.section .heading{
  color: #ffffff;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}
.section .greetingMessage{
  color:chartreuse;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  font-family: sans-serif;
  padding: 10px 0px;
  font-size: 20px;
  font-weight: bold;
}